/* TO PASTE IN THE BEGGINING OF HTML: <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
TO SPECIFY IN CSS:font-family: 'Dancing Script', cursive;*/

html,
body {
  background-color: #FF7F50;
  text-align: center;
  font-family: 'Libre Caslon Text'/*'Indie Flower'*//*'Dancing Script'*/, Helvetica, sans-serif;
  min-width: 320px;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 80px;
}

#form-outer {
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
  border-radius: 80px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 230px;
  padding: 5px;
  margin: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#userAge {
  width: 40px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 7px;
}

#submit {
  background-color: #9FB70A;
  border-radius: 10px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 120px;
  margin: 30px;
  border: 0px solid;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

fieldset {
  margin:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 40px;
  max-width: 700px;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}